    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');
    body {
        font-family: 'Montserrat', sans-serif;
    }
    
    .contenedor {
        background-color: #f6f7fb;
        text-align: center;
    }
    
    .seccion-principal {
        background-color: white;
        height: 200px;
        width: 200px;
        display: inline-block;
        border: 2px solid #aeaeae;
        padding: 60px;
        margin: 30px;
        border-radius: 8px;
        font-size: 20px;
    }
    
    .imagen {
        width: 130px;
        height: 130px;
    }
    
    .text-parrafo-1 {
        font-weight: 300;
        text-align: center;
    }
    
    .tittle-parrafo-1 {
        text-align: center;
    }