@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f7fb;
}

.contenedor {
    text-align: center;
    font-size: 15px;
}

.seccion-principal {
    background-color: white;
    height: 130px;
    width: 130px;
    display: inline-block;
    border: 2px solid #DDDFE5;
    padding: 60px;
    margin: 30px;
    border-radius: 8px;
}

.imagen {
    width: 130px;
    height: 130px;
}

.text-parrafo-1 {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.tittle-parrafo-1 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    margin-top: 70px;
}